<header class="page-header">
	<div class="centered-element">

	 <nav>
		<a href="{{ site.url }}/games/" ><div class="nav-link">Games</div></a>
		<a href="{{ site.url }}/softwares/" ><div class="nav-link">Softwares</div></a>
		<a href="{{ site.url }}" ><img src="{{ site.url }}/img/logo.png" height="60px" alt="{{ site.title }}" class="middle-image"></a>
		<a href="{{ site.url }}/about/" ><div class="nav-link">About</div></a>
		<a href="{{ site.url }}/contact/" ><div class="nav-link">Contact</div></a>
	</nav>
	</div>
</header>
