<header class="page-header">
	<div class="centered-element">
     <a href="{{ site.url }}" id="logo"><img src="{{ site.url }}/img/logo.png" alt="{{ site.title }}" class="middle-image"></a>
	 <nav>
		<a href="{{ site.url }}" class="nav-link">Home</a>
		<a href="{{ site.url }}/games/" class="nav-link">Games</a>
		<a href="{{ site.url }}/softwares/" class="nav-link">Softwares</a>
		<a href="{{ site.url }}/about/" class="nav-link">About</a>
		<a href="{{ site.url }}/contact/" class="nav-link">Contact</a>
	</nav>
	</div>
</header>
