<header class="page-header">
     <h1 class="project-name"> <a class="header-link" href="{{ site.baseurl }}/"> {{ site.title }}</a></h1>
	 <h1 class="project-description"> {{ site.description }} </h1>
	 <nav>
		<div class="centered-element">
			<a href="{{ site.url }}">Home</a>
			<a href="{{ site.url }}/games/">Games</a>
			<a href="{{ site.url }}/softwares/">Softwares</a>
			<a href="{{ site.url }}/about/">About</a>
			<a href="{{ site.url }}/contact/">Contact Us</a>
		</div>
	</nav>
</header>
