<style>
#about-section{
	background-color:#f9f9f9; 
	height: 600px; 
	position: relative;
}
#about-left{
	width:50%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	vertical-align: middle;
	background: url({{ site.url }}/img/yesdev-def-branco-2.png) no-repeat center center;
	background-size: 300px 300px;
}
#about-right{
	text-align: justify;
	vertical-align: middle;
	width:50%; 
	height: 600px; 
	line-height: 600px;
	position: absolute; 
	top: 0px; 
	padding: 0px 30px 0px 30px; 
	right: 0px;
}
#about-right-text{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
</style>

<div id="about-section">
<div class="centered-element">
	<div id="about-left" style=""></div><div id="about-right"> <span id="about-right-text">
	<p> <b>SITE UNDER CONSTRUCTION</b>
	<p>
		We are a indie studio staffed by people with over 5 years of market experience. We focus on developing friendly games that even people with no experience can have fun with their friends.  Our current project, Le Petit Shooter, had a great reception, being ranked 18th on Ludum Dare 38. We are looking for partners to help us make Le Petit Shooter a fully featured game and publish it.
	</p>
	</span></div>
</div>
</div>