<style>
#team-section{
	background-color:#1a1a1a;
	color: #b5b5b5;
	height: 600px;
}
#team-top{
	height: 300px;
	text-align: center;
	padding-top: 100px;
}
#team-bottom{
	height: 300px;
	line-height: 300px;
	text-align: center;
}
#team-text{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: justify;
  width: 80%;
}
.team-member{
	display: inline-block;
	min-width: 125px;
}
.team-member-pic{
	width: 110px;
	height: 110px;
}
.team-member-name{
	font-size: 75%;
}
</style>

<div id="team-section">
	<div class="centered-element">
		<div id="team-top">
			<div class="team-member"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt1.png"><div class="team-member-name">Henrique Siqueira</div></div>
			<div class="team-member"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt2.png"><div class="team-member-name">Joaquim Neto</div></div>
			<div class="team-member"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt3.png"><div class="team-member-name">Ricardo Bustamante</div></div>
			<div class="team-member"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt4.png"><div class="team-member-name">Daniel Augusto</div></div>
			<div class="team-member"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt5.png"><div class="team-member-name">Luan Lucas</div></div>
			<div class="team-member"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt6.png"><div class="team-member-name">Tito Marques</div></div>
		</div>
		<div id="team-bottom">
			<span id="team-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</span>
		</div>
	</div>
</div>
