<style>
#team-section{
	background-color:#1a1a1a;
	color: #b5b5b5;
	height: 600px;
}
#team-top{
	padding-top: 81px;
	height: 300px;
	text-align: center;
}
#team-bottom{
	height: 300px;
	line-height: 300px;
	text-align: center;
}
#team-content{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: justify;
  width: 80%;
}
.team-member{
	display: inline-block;
	min-width: 125px;
	max-height: 300px;
	cursor: hand;
}
.team-member:hover{
	background-color: #fff;
	color: #000;
}
.team-member-pic{
	width: 110px;
	height: 110px;
}
.team-member-name{
	font-size: 75%;
}
</style>

<script type="text/javascript">
	var description = [];
	description["henrique"] = "Our Project Manager";
	description["joaquim"] = "Programmer";
	description["busta"] = "Technical Leadership";
	description["daniel"] = "Programmer";
	description["luan"] = "Musician";
	description["tito"] = "Artist";
	

	function ShowDescription(id){
		var text = document.getElementById("member-description");
		text.innerHTML = description[id];
	}
</script>

<div id="team-section">
	<div class="centered-element">
		<div id="team-top">
			<span>
			<div class="team-member" onclick="ShowDescription('henrique');"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt1.png"><div class="team-member-name">Henrique Siqueira</div></div>
			<div class="team-member" onclick="ShowDescription('joaquim');"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt2.png"><div class="team-member-name">Joaquim Neto</div></div>
			<div class="team-member" onclick="ShowDescription('busta');"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt3.png"><div class="team-member-name" onclick="ShowDescription('busta');">Ricardo Bustamante</div></div>
			<div class="team-member" onclick="ShowDescription('daniel');"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt4.png"><div class="team-member-name" onclick="ShowDescription('daniel');">Daniel Augusto</div></div>
			<div class="team-member" onclick="ShowDescription('luan');"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt5.png"><div class="team-member-name" onclick="ShowDescription('luan');">Luan Lucas</div></div>
			<div class="team-member" onclick="ShowDescription('tito');"><img class="team-member-pic" src="{{ site.url }}/img/team/ydt6.png"><div class="team-member-name" onclick="ShowDescription('tito');">Tito Marques</div></div>
			</span>
		</div>
		<div id="team-bottom">
			<span class="team-content" id="member-description">Click someone's face to see the description.</span>
		</div>
	</div>
</div>
