<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/stylesheets/home/about.css">

<div id="about-section">
<div class="centered-element">
  <div id="about-left" style=""></div><div id="about-right"> <span id="about-right-text">
  <p> <b>SITE UNDER CONSTRUCTION</b>
  <p>
    We are a indie studio staffed by people with over 5 years of market experience. We focus on developing friendly games that even people with no experience can have fun with their friends.  Our current project, Le Petit Shooter, had a great reception, being ranked 18th on Ludum Dare 38. We are looking for partners to help us make Le Petit Shooter a fully featured game and publish it.
  </p>
  </span></div>
</div>
</div>