<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/stylesheets/home/contact.css">

<div id="contact-section">
  <div class="centered-element">
  <div id="contact-left">
    <span id="contact-text">Get in touch with us!<br>We are working on our team's first full featured title together, but if you are a publisher or if you want to do business with us once we have more free time, don't hesitate to do so.</span>
  </div>
  <div id="contact-right"> 
  <form id="contact-form" action="mailto:admin@yesdev.games" method="get" enctype="application/x-www-form-urlencoded">
    <!--<input type="text" id="mail" name="mail" placeholder="Your e-mail...">-->
    <select id="subject" name="subject">
      <option value="null">Select Something</option>
      <option value="sub1">Whatever</option>
      <option value="sub2">Something</option>
      <option value="sub3">Other</option>
    </select>
    <textarea id="body" name="body" placeholder="Write your message and press submit..." style="height:200px"></textarea>
    <input type="submit" value="Submit">
  </form>
  </div>
  </div>
</div>
