<style>
#jam-section{
	background-color:#f9f9f9;
	height: 300px;
	text-align: center;
}

.jam-games{
	display: inline-block;
	margin: 0px 30px 0px 30px;
}

@media screen and (max-width: 42em) {
	.jam-games{
		margin: 0px 10px 0px 10px;
	}
	#jam-section{
		height: 800px;
	}
}
</style>

<div id="jam-section">
	<div class="centered-element">
		<h1 style="margin:0px;">Coming Soon</h1>
		<br>
		<div class="jam-games"><img src="{{ site.url }}{{ site.baseurl }}/img/jam/jam1.png"></img><br><a href ="http://globalgamejam.org/2017/games/lunar-tide">Lunar Tide Jam Site</a><br><a href="yesdev.games/lepetit/play">Lunar Tide Play Now</a></div>
		<a href ="https://ldjam.com/events/ludum-dare/38/le-petit-shooter"><div class="jam-games"><img src="{{ site.url }}{{ site.baseurl }}/img/jam/jam2.png"></img><br>Le Petit Shooter Alpha</div></a>
		<a href ="http://globalgamejam.org/2017/games/ol%C3%A9"><div class="jam-games"><img src="{{ site.url }}{{ site.baseurl }}/img/jam/jam3.png"></img><br>Olé</div></a>
	</div>
</div>
