<style>
#jam-section{
	background-color:#f9f9f9;
	text-align: center;
}

.jam-games{
	display: inline-block;
	margin: 30px 30px 30px 30px;
}

.jam-games-container{
	padding: 50px 0px 50px 0px;
}

@media screen and (max-width: 42em) {
	.jam-games{
		margin: 10px 10px 10px 10px;
	}
	.jam-games-container{
	padding: 20px 0px 20px 0px;
	}
}
</style>

<div id="jam-section">
	<div class="centered-element jam-games-container">
		<span>
		<div class="jam-games">
			<a href="{{ site.url }}{{ site.baseurl }}/lunartide/play"><img src="{{ site.url }}{{ site.baseurl }}/img/jam/jam1.png"></img></a><br>
			<a href ="http://globalgamejam.org/2017/games/lunar-tide">Lunar Tide Jam Entry</a><br>
			<a href="{{ site.url }}{{ site.baseurl }}/lunartide/play" style="font-weight: bold;">Play Lunar Tide</a>
		</div>
		<div class="jam-games">
			<a href ="{{ site.url }}{{ site.baseurl }}/lepetit/play"><img src="{{ site.url }}{{ site.baseurl }}/img/jam/jam2.png"></img></a><br>
			<a href="https://ldjam.com/events/ludum-dare/38/le-petit-shooter">Le Petit Shooter Jam Entry</a><br>
			<a href ="{{ site.url }}{{ site.baseurl }}/lepetit/play" style="font-weight: bold;">Play Le Petit Shooter Prototype</a>
		</div>
		<div class="jam-games">
			<a href ="https://danisson.github.io/GGJ2017/"><img src="{{ site.url }}{{ site.baseurl }}/img/jam/jam3.png"></img></a><br>
			<a href ="http://globalgamejam.org/2017/games/ol%C3%A9">Olé Jam Entry</a><br>
			<a href ="https://danisson.github.io/GGJ2017/" style="font-weight: bold;">Play Olé</a>
		</div>
		</span>
	</div>
</div>
