<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/stylesheets/home/social.css">

<div id="social-section">
	<div class="centered-element">
		<div class="social-vertical-align">
			<a href=facebook><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			<a href=twitter><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
			<a href=instagram><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a href=telegram><i class="fa fa-telegram" aria-hidden="true"></i></a>
			<a href=youtube><i class="fa fa-youtube" aria-hidden="true"></i></a>
			<a href=google+><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
		</div>
	</div>
</div>