<style>
  #team-section{
    background-color:#1a1a1a;
    color: #b5b5b5;
    height: 600px;
  }
  #team-top{
    padding-top: 71px;
    height: 300px;
    text-align: center;
  }
  #team-bottom{
    height: 300px;
    line-height: 300px;
    text-align: center;
  }
  #team-content{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: justify;
    width: 80%;
  }
  .team-member{
    display: inline-block;
    min-width: 125px;
    max-height: 300px;
    cursor: hand;
    padding: 10px 0px 5px 0px;
    border-radius: 5px;
  }
  .team-member-hover{
    background-color: #e5e5e5;
    color: #1a1a1a;
  }
  .team-member-pic{
    width: 110px;
    height: 110px;
  }
  .team-member-name{
    font-size: 75%;
  }
  /* Normal Screen */
  @media screen and (min-width: 42em) {

  }
  /* Mobile Screen */
  @media screen and (max-width: 42em) {
    #team-section{
    background-color:#1a1a1a;
    color: #b5b5b5;
    height: 900px;
  }
  #team-top{
    padding-top: 71px;
    height: 600px;
    text-align: center;
  }
  }
</style>

<script type="text/javascript">
  var description = [];
  description["henrique"] = "Project Manager";
  description["busta"] = "Technical Lead";
  description["joaquim"] = "Programmer";
  description["daniel"] = "Programmer";
  description["luan"] = "Sound Designer";
  description["tito"] = "Visual Designer";
  description["vanessa"] = "Quality Assurance";
  var previous_member = null;

  function ShowDescription(element){
    var text = document.getElementById("member-description");
    text.innerHTML = description[element.id];
    if(previous_member){
      previous_member.className = "team-member";
    }
    element.className = "team-member team-member-hover"
    previous_member = element;
  }
</script>

<div id="team-section">
  <div class="centered-element">
    <div id="team-top">
      <span>
      <div class="team-member" onmouseover="ShowDescription(this);" id="henrique"><img class="team-member-pic" src="{{ site.url }}/img/team/henrique.png"><div class="team-member-name">Henrique Siqueira</div></div>
      <div class="team-member" onmouseover="ShowDescription(this);" id="busta"><img class="team-member-pic" src="{{ site.url }}/img/team/ricardo.png"><div class="team-member-name">Ricardo Bustamante</div></div>
      <div class="team-member" onmouseover="ShowDescription(this);" id="joaquim"><img class="team-member-pic" src="{{ site.url }}/img/team/joaquim.png"><div class="team-member-name">Joaquim Neto</div></div>
      <div class="team-member" onmouseover="ShowDescription(this);" id="daniel"><img class="team-member-pic" src="{{ site.url }}/img/team/daniel.png"><div class="team-member-name">Daniel Augusto</div></div>
      <div class="team-member" onmouseover="ShowDescription(this);" id="luan"><img class="team-member-pic" src="{{ site.url }}/img/team/luan.png"><div class="team-member-name">Luan Lucas</div></div>
      <div class="team-member" onmouseover="ShowDescription(this);" id="tito"><img class="team-member-pic" src="{{ site.url }}/img/team/tito.png"><div class="team-member-name">Tito Marques</div></div>
	  <div class="team-member" onmouseover="ShowDescription(this);" id="vanessa"><img class="team-member-pic" src="{{ site.url }}/img/team/vanessa.png"><div class="team-member-name">Vanessa Oliveira</div></div>
      </span>
    </div>
    <div id="team-bottom">
      <span class="team-content" id="member-description">Click someone's face to see the description.</span>
    </div>
  </div>
</div>
